<form class="form-horizontal" method="POST" action="https://myfavoriteclass-67272-akawari.c9users.io/students">
<fieldset>

<!-- Form Name -->
<legend>New Student Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">First Name</label>  
  <div class="col-md-4">
  <input id="firstname" name="firstname" type="text" placeholder="Ahmad" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Last Name</label>  
  <div class="col-md-4">
  <input id="lastname" name="lastname" type="text" placeholder="Al-Kawari" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email Address</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="student@andrew.cmu.edu" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="major">Select Major</label>
  <div class="col-md-4">
    <select id="major" name="major" class="form-control">
      <option value="IS">Information Systems</option>
      <option value="CS">Computer Science</option>
      <option value="BA">Business Administration</option>
      <option value="BS">Biological Sciences</option>
    </select>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="status">Status</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="status-0">
      <input type="radio" name="status" id="status-0" value="Enrolled" checked="checked">
      Enrolled
    </label>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
